csprojects/BankingSystem/BankApp/Connected Services/BankServiceProxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConceptArchitect.Banking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConceptArchitect.Banking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element name="accountNumber" type="xs:int" />
      <xs:element name="balance" type="xs:double" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="ArrayOfBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccount" nillable="true" type="tns:BankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccount" nillable="true" type="tns:ArrayOfBankAccount" />
</xs:schema>